<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>国祯智慧水务</title>
        <link rel="Shortcut Icon" href="./resources/images/titleImg.ico" type="image/x-icon">
        <link rel="stylesheet" href="./resources/css/swiper.min.css">
    </head>
    <body>
        <div id="root"></div>

        <script src="./resources/js/gtmd-ie.min.js"></script>
        <script src="./resources/js/jquery.min.js"></script>
        <script src="./resources/js/polyfill.min.js"></script>
        <script src="./resources/js/swiper.min.js"></script>
        <script src="./resources/js/defaultConfig.js"></script>
    </body>
</html>
